<!-- 
    

                
                    

    <section id="useer_friends">
<h4> Friends</h4>
<% for(u of all_users) %>
<p>
    <a href="/users/profile/<%=u.id %>"><%= u.name%></a>
</p>
<% }%>
    </section> -->